<h1> {{title}} </h1>
<br> <div>Author: {{author}}</div>
<br> <div>{{body}}</div>
<br>
<br> <a href="/articles/{{title}}/edit">EDIT ITEM</a>
<br> <a href="/articles/{{title}}/delete">DELETE ITEM</a>
<br> <a href="/articles">ARTICLES PAGE</a>
<br> {{> footer}}