<h1> {{name}} </h1>
<br> <div>Version: {{version}}</div>
<br> <div>Price: {{price}}</div>
<br> <div>Inventory: {{inventory}}</div>
<br>
<br> <a href="/products/old/{{id}}/{{version}}/restore">RESTORE ITEM</a>
<br> <a href="/products/old">PREVIOUS PRODUCTS</a>
<br> {{> footer}}