{{#with Products}}
<h1>Products</h1>
<br>
<br> {{#each products}}
<div>
  <a href="/products/old/{{id}}/{{version}}"> ID: {{id}} - Version: {{version}} </a>
</div>
{{/each}}
<br>
<br> <a href="/products">PRODUCTS PAGE</a>{{/with}} {{#with Articles}}
<h1>Articles</h1>
<br>
<br> {{#each articles}}
<div>
  <a href="/articles/old/{{id}}/{{version}}"> Article {{id}} - Version: {{version}} </a>
</div>
{{/each}}
<br>
<br> <a href="/articles">ARTICLES PAGE</a>{{/with}} {{#with Product}}
<h1>Products</h1>
<div>NO OLD PRODUCTS</div>
<br> <a href="/products">PRODUCTS PAGE</a>{{/with}} {{#with Article}}
<h1>Articles</h1>
<div>NO OLD ARTICLES</div>
<br> <a href="/articles">ARTICLES PAGE</a>{{/with}}
<br> {{> footer}}