<h1> {{title}} </h1>
<br> <div>Version: {{version}}</div>
<br> <div>Author: {{author}}</div>
<br> <div>{{body}}</div>
<br>
<br> <a href="/articles/old/{{id}}/{{version}}/restore">RESTORE ITEM</a>
<br> <a href="/articles/old">PREVIOUS ARTICLES</a>
<br> {{> footer}}