<h1> {{name}} </h1>
<br> <div>{{price}}</div>
<br> <div>{{inventory}}</div>
<br>
<br> <a href="/products/{{id}}/edit">EDIT ITEM</a>
<br> <a href="/products/{{id}}/delete">DELETE ITEM</a>
<br> <a href="/products">PRODUCTS PAGE</a>
<br> {{> footer}}